<div> 
	<strong> Name :</strong>
	<%= @batch.name%>
</div>

<div>
<Strong>Start Date :</strong>
<%= @batch.start_date %>
</div>

<div>
<strong>End Date :</strong>
<%= @batch.end_date %>
</div>

<div>
<strong>Instruction Type :</strong>
<%= @batch.instruction_type %>
</div>

<div>
<strong>Description :</strong>
<%= @batch.description %>
</div>

<div>
<strong>Created Date :</strong>
<%= @batch.created_at %>
</div>

<div>
<strong>Updated Date :</strong>
<%= @batch.updated_at %></div>

